In [14]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split, StratifiedKFold

In [2]:
diall = pd.read_csv("fromSuci/data_better.csv")
discrete = {'race': 'race_race_Asian',
            'gender': 'gender_gender_Male',
            'age': 'age_age_5',
            'admission_type_id': 'admission_type_id_admission_type_id_NANM',
            'discharge_disposition_id': 'discharge_disposition_id_discharge_cat_8',
            'admission_source_id': 'admission_source_id_admission_source_8',
            'new_diag_pri': 'new_diag_pri_new_diag_pri_7',
            'new_diag_sec': 'new_diag_sec_new_diag_sec_6',
            'new_diag_ter': 'new_diag_ter_new_diag_ter_6',
            'max_glu_serum': 'max_glu_serum_max_glu_serum_None',
            'A1Cresult': 'A1Cresult_A1Cresult_None',
            'metformin': 'metformin_metformin_Change',
            'repaglinide': 'repaglinide_repaglinide_Change',
            'glimepiride': 'glimepiride_glimepiride_Change',
            'glipizide': 'glipizide_glipizide_Change',
            'glyburide': 'glyburide_glyburide_Change',
            'pioglitazone': 'pioglitazone_pioglitazone_Change',
            'rosiglitazone': 'rosiglitazone_rosiglitazone_Change',
            'insulin': 'insulin_insulin_Change',
            'diabetes_rest_med': 'diabetes_rest_med_No'
           }
continuous = ['num_lab_procedures','num_procedures','num_medications',
              'number_outpatient','number_emergency','number_inpatient',
              'time_in_hospital','number_diagnoses']
colchoose = list(discrete.keys()) + continuous + ['readmitted']

def choose_variable(listvar,discrete,continuous,originaldata):
    ''' 
        To create dummies in all the categorical variable and to standardized all the continuous variable
    '''

    col_discrete, S, col_continuous = [], [], []

    for i in listvar:
        
        if i == 'readmitted':
            yn = pd.get_dummies(originaldata['readmitted'])['YES']
        
        if i in discrete.keys():
            col_discrete.append(i)
            S.append(discrete[i])

        if i in continuous:
            col_continuous.append(i)
    
    data_cat = pd.get_dummies(originaldata[col_discrete])
    data_cat = data_cat.drop(S,axis=1)
    
    data_con = originaldata[col_continuous]
    for i in col_continuous:
        data_con[i] = (data_con[i] - np.mean(data_con[i]))/np.std(data_con[i])
        data_con[i] = (data_con[i] - np.mean(data_con[i]))/np.std(data_con[i])
    
    data_new = pd.concat([data_cat, data_con], axis=1)
    data_new = pd.concat([data_new, yn], axis = 1)
    data_new['readmitted'] = data_new['YES']
    data_new = data_new.drop(['YES'],axis=1)
    return data_new

datanew = choose_variable(colchoose,discrete,continuous,diall)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
datanew.head()

,race_race_AfricanAmerican,race_race_Caucasian,race_race_Hispanic,race_race_Other,gender_gender_Female,age_age_15,age_age_25,age_age_35,age_age_45,age_age_55,...,diabetes_rest_med_Yes,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,time_in_hospital,number_diagnoses,readmitted
0,0,1,0,0,1,0,0,0,0,1,...,0,1.708433,2.590493,2.084767,-0.265273,-0.20561,-0.300261,1.257246,0.356170,1
1,0,1,0,0,1,0,0,0,0,1,...,0,0.304674,-0.249660,-0.576946,-0.265273,-0.20561,-0.300261,-0.782168,-2.285531,0
2,0,1,0,0,1,0,0,0,0,0,...,0,1.257225,0.318371,0.874897,-0.265273,-0.20561,-0.300261,-0.102364,0.884510,0
3,0,1,0,0,1,0,0,0,0,0,...,0,0.154271,-0.817691,0.511936,-0.265273,-0.20561,-0.300261,-0.442266,0.884510,0
4,1,0,0,0,1,0,0,1,0,0,...,0,0.304674,-0.817691,-1.302868,-0.265273,-0.20561,-0.300261,0.237539,-2.285531,0

In [9]:
np.save('fromSuci/X.npy', datanew.drop('readmitted', axis=1).values)
np.save('fromSuci/y.npy', datanew[['readmitted']].values)

In [16]:
X = datanew.drop('readmitted', axis=1).values
y = datanew[['readmitted']].values

In [15]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=8)

In [21]:
for train, test in kfold.split(X, y):
    print('--')
    print(a)
    print(b)

--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]

In [25]:
Xtrain, Xtest = X[train, :], X[test, :]
ytrain, ytest = y[train, :], y[test, :]

In [27]:
for train, valid in kfold.split(Xtrain, ytrain):
    print('--')
    print(a)
    print(b)

--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]
--
[    0     1     2 ..., 67125 67126 67127]
[    4     9    13 ..., 67117 67118 67124]

In [31]:
Xtrain1, Xvalid = Xtrain[train, :], Xtrain[valid, :]
ytrain1, yvalid = ytrain[train, :], ytrain[valid, :]

In [32]:
Xtrain1.shape, Xvalid.shape

((42963, 94), (10740, 94))

In [33]:
np.save('fromSuci/Xtrain.npy', Xtrain1)
np.save('fromSuci/ytrain.npy', ytrain1)
np.save('fromSuci/Xtest.npy', Xtest)
np.save('fromSuci/ytest.npy', ytest)
np.save('fromSuci/Xvalid.npy', Xvalid)
np.save('fromSuci/yvalid.npy', yvalid)